<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.oxox.charon.simplecommerce.mapper.BalanceDetailMapper">

    <resultMap id="BaseResultMap" type="asia.oxox.charon.simplecommerce.entity.DO.BalanceDetail">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="originalBalance" column="original_balance" jdbcType="DECIMAL"/>
            <result property="finalBalance" column="final_balance" jdbcType="DECIMAL"/>
            <result property="statusEnum" column="status_enum" jdbcType="INTEGER"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>
